
{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-4">
        <h1>Sobre mi, {{getName}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, enim consequuntur cum quia iste, magnam perferendis provident quo, alias assumenda laboriosam odio recusandae! Sequi deleniti praesentium accusamus voluptas itaque ratione.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/etapa-Lorca.png" alt="6ª etapa interclub Cartagena" class="img-thumbnail">
    </div>
</div>

{{> footer }}